{% extends 'user/blog.html' %} 
{% load static %}
{% block blog-content %}

<div class="col-lg-8">
    <div class="row g-5">
        <div class="col-md-6 wow fadeIn blog-card" data-wow-delay="0.1s">

            {% for mainBlog in blogBackend %}
            <div class="blog-item bg-light rounded overflow-hidden">
                <div class="blog-img position-relative overflow-hidden">
                    <img class="img-fluid" src="/{{mainBlog.blogImage}}" alt="">
                    <a class="position-absolute sticky-tagbar top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">{{mainBlog.blogRelatedTitle}}</a>
                </div>
                <div class="p-4 blog-box-content">
                    <div class="d-flex mb-3">
                        <small class="me-3"><i class="far fa-user text-primary me-2"></i>{{mainBlog.writterName}}</small>
                        <small><i class="far fa-calendar-alt text-primary me-2"></i>{{mainBlog.publishDate}}</small>
                    </div>
                    <h4 class="mb-3">{{mainBlog.blogTitle}}</h4>
                    <p>{{ mainBlog.blogDetail|truncatechars:60 }}</p>
                    <a class="text-uppercase redirecting-link" href="/detail?msg={{mainBlog.id}}">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>


            {% endfor %}
        </div>
    </div>
</div>
               
{% endblock blog-content %}